<div class="all-players-list">
  <% @players.each_with_index do |player, i| %>
    <%= link_to player.name, transfers_path(player_id: player.id, team_id: current_user.team.id), method: 'POST' %>
  <% end %>
</div>

<div id="team-players-list">
  <% @transfers.each do |t| %>
    <p><%= t.player.name %></p>
  <% end %>
</div>
